.title{
    color: #7e8b94;
}
.title svg {
    font-size: 20px;
}

.novoTipo {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 550px;
    border-radius: 50px;
    box-shadow:  32px 32px 64px #bebebe,
    -32px -32px 64px #ffffff;
 }

.novoTipo label {
    text-align: center;
    height: 40px;
    padding: 10px;
    color: #abafb2;
    background-color: #e8ecef;
    border-radius: 7px 0 0 7px;
    border: 1px solid #d1d2d4;
}
.novoTipo input {
    margin-right: 20px;
    border: 1px solid #d1d2d4;
    height: 40px;
    padding: .5em;
    background: none;
    width: 200px;
    border-radius: 0 7px 7px 0;
}

.btn_cadastrar {
    background-color: #0057d8;
    border-radius: 7px;
    color: white;
    width: 200px;
    border: 1px solid #81aef2;
    height: 40px;
    cursor: pointer;
}

.btn_cadastrar:hover {
    background-color: #0041a8;
    border: 1px solid #81aef2;
}

.btn_cadastrar:active {
    background-color: #0041a8;
    border: 1px solid #81aef2;
}
