.title {
    color: #7e8b94;
    padding: 10px;
}

.relatorio {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    border-radius: 50px;
    box-shadow: inset -5px 5px 12px #a1a1a1,
    inset 5px -5px 12px #ffffff;
    width: 700px;
}
.relatorio table {
    width: 600px;
    padding: 20px;
}
.relatorio td,
th {
    padding: 8px;
    font-weight: normal;
}


.relatorio th {
    width: 100px;
    padding-bottom: 12px;
    text-align: left;
    font-weight: bold;
}


.relatorio td:hover {
    background-color: #ddd;
}

.relatorio tr:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    top: 20%;
    left: 65%;
    position: absolute;
    width: 500px;
    height: 500px;
    -webkit-filter: drop-shadow(7px 7px 7px #666666);

}
