.footer {
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    box-shadow: inset 1px 7px 15px #000000;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social a {
    margin: 0 1em;
}

.linkedin:hover {
    color: #0c6eff;
}

.github:hover {
    color: #ffffff;
}
.instagram:hover {
    color: #b244ff;
}
.discord:hover {
    color: #5260ef;
}

.social svg {
    font-size: 2em;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    color: #0065ff;
    font-weight: bold;
}

