.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;

}

.mirante {
  border: 1px solid red;
    height: 500px;
  width: 500px;
  background-image: url("../../imgs/mirante.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}